@{
  Layout = "_Layout";
}

<div class="container">
  <h1>Hair Salon Stylist/Client Registry</h1>
  <h3>@Html.ActionLink("Show All Stylists", "Index", "Stylists")</h3>
  <h3>@Html.ActionLink("Show All Clients", "Index", "Clients")</h3>
</div>